<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
<% @favorite.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>
        <%= current_user.email %>
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>
        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, 'id', 'name') ) %>
      </div>

      <!-- Label and input for dishing_id -->
      <div class="form-group">
        <label for="dishing_id" class="control-label">
          Dishing
        </label>
        <%= select_tag(:dishing_id, options_from_collection_for_select(Dish.all, 'id', 'dish_name')) %>
      </div>

      <button class="btn btn-success">
        Create Favorite
      </button>
      or
      <a href="/favorites">Cancel</a>
    </form>
  </div>
</div>
