<div class="page-header">
  <h3>Dishing #<%= @dishing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @dishing.restaurant_id %></dd>

      <dt>Dish</dt>
      <dd><%= @dishing.dish_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishings" class="btn btn-primary">
        Back
      </a>
      <a href="/dishings/<%= @dishing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dishing/<%= @dishing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
