<div class="page-header">
  <h3><%= @dish.dish_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
<dt>Cateogry</dt>
<dd><%= @dish.category %></dd>
    </dl>

    <div class="page-header">
      <h4>Best Restaurants for <%= @dish.dish_name %></h4>
    </div>
  

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
