<div class="page-header">
  <h3><%= @restaurant.name %></h3>
</div>

<img src="<%= @restaurant.cover_image %>" alt="" height="400" />
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <!-- <dt>Cover image</dt> -->
      <dd></dd>

      <!-- <dt>Name</dt>
      <dd><%= @restaurant.name %></dd> -->

      <% if @restaurant.street.present? %>
      <dt>Street</dt>
      <dd><%= @restaurant.street %></dd>
      <% end %>

      <% if @restaurant.neighborhood.present? %>
      <dt>Neighborhood</dt>
      <dd><%= @restaurant.neighborhood %></dd>
      <% end %>

      <% if @restaurant.city.present? %>
      <dt>City</dt>
      <dd><%= @restaurant.city %></dd>
      <% end %>

      <dt>State</dt>
      <dd><%= @restaurant.state %></dd>

      <% if @restaurant.zip.present? %>
      <dt>Zip</dt>
      <dd><%= @restaurant.zip %></dd>
      <% end %>

      <% if @restaurant.short_description.present? %>
      <dt>Description</dt>
      <dd><%= @restaurant.short_description %></dd>
      <% end %>

      <!-- <dt>Lng</dt>
      <dd><%= @restaurant.lng %></dd>

      <dt>Lat</dt>
      <dd><%= @restaurant.lat %></dd> -->
      <% if @restaurant.price.present? %>
      <dt>Price</dt>
      <dd><%= @restaurant.price %></dd>
      <% end %>



<div class="page-header">
    <h4>Menu Items <a href="/dishings/new" class="btn btn-md btn-success">Add a Menu Item</a></h4>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <!-- <th>Dish comment</th> -->
        <th>Dish</th>
        <th>Actions</th>
      </tr>
<% @restaurant.dishes.each do |dish| %>
<tr>
  <td><%=dish.dish_name%></td>
  <td>
    <a href="/dishes/<%= dish.id %>" class="btn btn-primary">Show</a>
    <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">Edit</a>
    <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
  </td>
</tr>
      <% end %>
    </table>
  </div>
  </div>








    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
